<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>577322848989-v6v60epljfh47emldsmp03t5vb5pmao9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577322848989-v6v60epljfh47emldsmp03t5vb5pmao9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>577322848989-3qe90ao3jii599ki7hjj0pdsqeqd4gru.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC-KHCaQggdHRpWG-bii1wYAaGmDbLvp-w</string>
	<key>GCM_SENDER_ID</key>
	<string>577322848989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.smiteknologi.shiphire</string>
	<key>PROJECT_ID</key>
	<string>shiphire-fdb0e</string>
	<key>STORAGE_BUCKET</key>
	<string>shiphire-fdb0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577322848989:ios:68eebf012f4b68ee320134</string>
</dict>
</plist>